tr#calendar-table-head th {
    padding: 8px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #04AA6D;
    color: white;
}

td.calendar-week-cell {
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

td.calendar-week-cell.inactive {
    color: #d5e1df;
    cursor: not-allowed;
}

td.calendar-week-cell:hover {
    background-color: #d5e1df;
}

td.calendar-week-cell.marked {
    background-color: #04AA6D;
}

button.nice_button.green-button .nice_button_top {
    background: #28d3aa;
}

#calendar-quickjump-form select, #calendar-quickjump-form input {
    font-size: 16px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}